{% extends "base.html" %}
{% block content %}
<body>
	<h1 style="...">用户输入</h1>
	<form action="/user/" method="post">
		<input type="text" name="username"/>
		<input type="text" name="password"/>
		<input type="submit" value="tijiao"/>
	</form>
	<hr />
	<h1 style="...">用户展示</h1>
	<table border="1">
		<thead>
			<th>yonghumin</th>
			<th>mima</th>
		</thead>
		<tbody>    
			{% for line in data %}
				<tr>
					<td>{{ line.user }}</td>
					<td>{{ line.pwd }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
	<script src="/static/js/jquery-1.12.4.js"></script>
</body>
{% endblock %}